:root{
    cursor: url("icons/Cursor.png"), auto;
}
body{
    background-color: #008080;
    cursor: url("icons/Cursor.png"), auto;    
}
button:hover{
    cursor: url("icons/Cursor.png"), auto;  
}
.icons{
    position: absolute;
    display:grid;
    left: 0%;
    -webkit-user-drag: none; /* For older WebKit browsers */
    user-select: none;
    -webkit-user-select: none; /* For older WebKit browsers */
}
.icon{
    position: relative;
    padding-bottom:.3em;
    padding-top: .5em;
    padding-left: .3em;
    text-align: center;
    -webkit-user-drag: none; /* For older WebKit browsers */
    user-select: none;
    -webkit-user-select: none; /* For older WebKit browsers */
}
.icon-text{
    position: relative;
    font-family: "Pixelated MS Sans Serif";
    color: #FFFFFF;
}
.window{
    display: none;
    position: absolute;
}
.dark {
    filter: brightness(40%); /* Turn into dark shadow version of image */
}
.bright {
    filter: brightness(120%) /* Turn into selected version of image */
}